<!-- Staff -->
{% if request.user.is_staff %}

<style>
   .christian-bg {
    background-color: #282277;
    color: white;
  }
   .italic-600 {
    font-weight: 600 !important;
    font-style: italic !important;
  }
   .btn-outline-secondary {
      background-color: #e3833e;
      color: #ffffff;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark christian-bg ">
  <div class="container-fluid">
    <a class="navbar-brand italic-600" href="{% url 'homepage' %}">Admin {{ request.user }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="{% url 'homepage' %}">Home</a>
        </li>
       
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">All Members</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="http://127.0.0.1:8000/admin/accounts/spouse/add/">Add New Spouse</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="http://127.0.0.1:8000/admin/accounts/family/add/">Add New Family</a></li>
            <li><hr class="dropdown-divider"></li>
             <li><a class="dropdown-item" href="http://127.0.0.1:8000/christian-admin/new-member-registration">Add New Member</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="http://127.0.0.1:8000/admin/">Super User</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Coming Burials</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
        </li>
      <form method="POST" action="{% url 'search-member' %}" class="d-flex">
        {% csrf_token %}
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search ID Number"
          name="searched"
          aria-label="Search"
        />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

{% else %}
<!-- Member -->
<style>
  .christian-bg {
    background-color: #282277;
    color: white;
  }

  .christian-primary {
    color: white;
  }
  .christian-secondary {
    color: #e3833e;
  }

  .italic-600 {
    font-weight: 600 !important;
    font-style: italic !important;
  }

  .mb-10 {
    margin-bottom: 10px;
  }
</style>



<nav class="navbar navbar-expand-lg navbar-dark christian-bg">
  <div class="container-fluid">
    <a
      class="navbar-brand christian-primary italic-600"
      href="{% url 'homepage' %}"
      >{{request.user}}</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/members/member-documents/{{request.user.slug}}">Documents</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            href="/members/member-details/{{request.user.slug}}"
            >Members</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/members/member-package/{{request.user.slug}}"
            >Package Details</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/members/member-payments/{{request.user.slug}}">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Website</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active italic-600"
            aria-current="page"
            href="{% url 'logout' %}"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endif %}